<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Bienvenue sur recrutage <%= @data[:name] %></h1>
	<p>Pour repondre au questionnaire: <%= @url %></p>
</body>
</html>